html {
	--primary-color: #ff1b7e;
	--primary-dark-color: #e60063;
	--primary-light-color: #ff4d9a;
}

html.dark-mode {
	--primary-color: #ff4d9a;
	--primary-dark-color: #ff80b7;
	--primary-light-color: #ff1a7d;
}
